/* Experience */
.experience-section {
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-style: dotted;
    border-width: 2px;
    border-color: #F1FAEE;

    display: none;
    transition: transform 0.3s;
}

.experience-section:hover {
    transform: scale(1.02)
}

.experience-section h3 {
    margin-top: 0;
    color: #F1FAEE;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.experience-section h4 {
    color: #F1FAEE;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.experience-section ul {
    color: #F1FAEE;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.experience-section .skills {
    margin-top: 10px;
}






#experience1,
#experience2,
#experience3,
#experience4,
#experience5 {
    display: block;
}