/* Variables CSS */
:root {
    --color-primary: #457B9D;
    --color-secondary: #F1FAEE;
    --color-accent: #1D3557;
    --transition-duration: 0.3s;
    --border-radius: 20px;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between; /* Espace entre le logo et le menu */
    align-items: center;
    background-color: var(--color-primary);
    padding: 10px 0 10px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    position:fixed;

    width: 100%;
    height: auto;
}

/* Logo */
.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-accent);
    text-decoration: none;
    flex-shrink: 0; /* Empêche le logo de réduire */
}

/* Hamburger Icon */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--color-accent);
    transition: transform var(--transition-duration);
}

/* Navigation Menu */
.navbar-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0 auto; /* Centrage du menu */
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Permet au menu de prendre l'espace disponible */
    
}

.navbar-menu li {
    display: flex;
    align-items: center;
}

.navbar-menu a {
    text-decoration: none;
    color: var(--color-secondary);
    display: flex;
    font-weight: normal;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    transition: background-color var(--transition-duration), color var(--transition-duration);
    
}

.navbar-menu a img {
    width: 18px;
    height: 18px;
    transition: transform var(--transition-duration);
}

/* Hover Effect */
.navbar-menu a:hover {
    background-color: var(--color-accent);
    color: var(--color-secondary);
    transform: scale(1.03);
    transition: transform var(--transition-duration);


}

.navbar-menu a:hover img {
    transform: scale(1.2);
}

/* Active State */
.active {
    background-color: var(--color-accent);
    color: var(--color-secondary);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;

    }

    .hamburger {
        display: flex; /* Afficher le hamburger */
    }

    .navbar-menu {
        display: none; /* Masquer le menu par défaut */
        flex-direction: column;
        background-color: var(--color-primary);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        align-items: start;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .navbar-menu a {

        width: 100%;
        border-radius: 0  var(--border-radius) var(--border-radius) 0;
    }

    .navbar-menu.active {
        display: flex; /* Afficher le menu après clic */
    }
}
