/* Right Panel */
.right-panel {

    float: left;
    background-color: #457B9D;
    background-size: contain;
    margin: 2% 0 2% 2%;
    border-radius:  10px 0  0 10px;
    height: 92%;
    width: 35%;
    min-height: 600px;
}

.card {
    float: left;
    height: 100%;
    width: 100%;
    background-color: #1D3557;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #F1FAEE;
    transition: background-color 0.5s;
    cursor: pointer;
}

.card:hover {
    background-color: #F1FAEE;
}

.card h2 {
    color: #F1FAEE;
    font-size: large;
    transition: color 0.5s, font-size 0.5s;
    text-align: center;
    width: 100%;
    height: 10%;
    font-weight: 100;
    letter-spacing: 5px;
}

.card:hover h2 {
    color: #1D3557;
    font-size: x-large;
    letter-spacing: 5px;
    font-weight: 100;
}
.card:hover #imageHome {
    transform: scale(1.4);
    background-image: url(/image/icon-Home.png);
}
.card:hover #imageRealisation {
    transform: scale(0.9);
    background-image: url(/image/icon-realisation-color.png);
}

.card:hover #imageBlog {
    transform: scale(0.9);
    background-image: url(/image/icon-blog.png);
}

.card:hover #imageCoding {
    transform: scale(0.9);
    background-image: url(/image/icon-coding.png);
}

.card:hover #imageContact {
    transform: scale(1.2);
    background-image: url(/image/icon-contact.png);
}

.card:hover #imageExperience {
    transform: scale(0.9);
    background-image: url(/image/icon-experience.png);
}
#homeContent{
    background-color: #1D3557;

}

#imageHome {
    width: 90%;
    height: 40%;
    margin: 5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    transition: transform 0.5s;
    background-image: url(/image/icon-Home-clair.png);
}
#imageRealisation {
    width: 70%;
    height: 65%;
    margin: 0 15% 15% 15%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s;
    background-image: url(/image/icon-realisation-clair.png);
}

#imageBlog {
    width: 100%;
    height: 50%;
    margin: 10% 0 0 0;
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: top;
    transition: transform 0.5s;
    background-image: url(/image/icon-blog-clair.png);
}

#imageCoding {
    width: 70%;
    height: 65%;
    margin: 0 15% 15% 15%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    transition: transform 0.5s;
    background-image: url(/image/icon-coding-clair.png);
}

#imageContact {
    width: 60%;
    height: 50%;
    margin: 15% 20% 20% 20%;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s;
    background-image: url(/image/icon-contact-clair.png);
}

#imageExperience {
    width: 100%;
    height: 40%;
    margin: 5% 0 0 0;
    background-size: 15%;
    background-repeat: no-repeat;
    background-position: top;
    transition: transform 0.5s;
    background-image: url(/image/icon-experience-clair.png);
}

#cardHome {
    float: left;
    width: 96%;
    height: 13%;
    margin: 2%;
}

#cardRealisation {
    float: left;
    width: 56%;
    height: 63%;
    margin: 0 2% 2% 2%;

}

#cardBlog {
    float: left;
    width:38%;
    height: 18%;
    margin: 0 2% 2% 0;
}

#cardCoding {
    float: left;
    width: 38%;
    height: 43.5%;
    margin: 0 2% 2% 0;

}

#cardContact {
    float: left;

    width: 38%;
    height: 16%;
    margin: 0 2% 2% 0;
    

}

#cardExperience {

    float: left;
    width: 56%;
    height: 16%;
    margin: 0 2% 0 2%;
}