body {
    margin: 0;
    padding: 0;
    background-color: #1D3557;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-family: 'Lilita One', sans-serif;

    font-size: 2.5em;
    font-weight: 200;
    margin: 0.5em 0;
    color: #ffffff;
    
  }
  
  .code-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .code-title {
    font-size: 18px;

    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .code-description {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  pre {
    border-radius: 6px;
    overflow: auto;
  }
  
  .github-link {
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
  }
  
  .github-link:hover {
    text-decoration: underline;
  }


  