body {
    font-family: 'Lilita One', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.left-panel-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

h1 {
    text-align: center;
}

.presentation {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.experience-navigation {
    text-align: center;
    margin-bottom: 20px;
}



.experience-section {
    display: none;
    margin-top: 20px;
}

.experience-section.active {
    display: block;
}

.project-container {
    display: flex;
    align-items: flex-start;
}

.project-image {
    flex: 0 0 150px;
    margin-right: 20px;
    object-fit: cover;
    height: 100%;
    border-radius: 8px;
}

.project-details {
    flex: 1;
}

.skills {
    margin-top: 10px;
}

.skill-bubble-filled {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
}